.image-27-icon {
  width: 100%;
  height: 726px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.travelaja {
  position: relative;
  line-height: 40px;
  white-space: nowrap;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
}
.links {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 48px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  cursor: pointer;
}
.links1 {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 69px;
}
.menu1 {
  flex: 0.734;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  cursor: pointer;
}
.links2 {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 67px;
}
.menu2 {
  flex: 0.7283;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  cursor: pointer;
}
.links3 {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 43px;
}
.menu3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  cursor: pointer;
}
.links4 {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 57px;
}
.menu-wrapper,
.menu4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu4 {
  flex-direction: row;
  padding: 10px 20px;
  cursor: pointer;
}
.menu-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0 15px 0 0;
}
.links5 {
  position: relative;
  line-height: 29px;
  display: inline-block;
  min-width: 66px;
}
.menu5,
.menus,
.menus-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu5 {
  flex: 0.7253;
  flex-direction: row;
  padding: 10px 20px;
  cursor: pointer;
}
.menus,
.menus-wrapper {
  margin: 0;
}
.menus {
  align-self: stretch;
  flex-direction: row;
  padding: 0 1px 0 0;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Poppins;
}
.menus-wrapper {
  width: 606px;
  flex-direction: column;
  padding: 5.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.email-input-container {
  height: 52px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  background-color: transparent;
}
.log-in {
  height: 54px;
  flex: 1;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.login-wrapper,
.login1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login1 {
  cursor: pointer;
  border: 0;
  padding: 0 0 1px;
  background-color: transparent;
  align-self: stretch;
  flex-direction: row;
  position: relative;
  white-space: nowrap;
}
.login-wrapper {
  width: 120px;
  flex-direction: column;
  padding: 2.5px 0 0;
  box-sizing: border-box;
}
.navbar,
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navbar {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  text-align: left;
  font-size: 33.2px;
  color: #fff;
  font-family: Poppins;
}
.navbar-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 30px;
  box-sizing: border-box;
}
.forgot-pass-link-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.login-container,
.login2 {
  display: flex;
  justify-content: center;
}
.login2 {
  height: 40px;
  width: 114px;
  position: relative;
  line-height: 125%;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.login-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 9px;
  font-size: 20px;
  color: #295943;
}
.email {
  position: relative;
  display: inline-block;
  min-width: 48px;
  z-index: 2;
}
.abcgmailcom,
.frame-child {
  position: relative;
  max-width: 100%;
}
.frame-child {
  height: 26px;
  width: 407px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  display: none;
}
.abcgmailcom {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 243px;
  white-space: nowrap;
  padding: 0;
  z-index: 3;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  max-width: 100%;
  z-index: 2;
}
.password {
  position: relative;
  display: inline-block;
  min-width: 87px;
  z-index: 2;
}
.frame-item,
.input {
  position: relative;
  max-width: 100%;
}
.frame-item {
  align-self: stretch;
  width: 407px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  display: none;
}
.input {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  height: 26px;
  flex: 1;
  color: #000;
  text-align: left;
  display: flex;
  align-items: flex-end;
  min-width: 235px;
  padding: 0;
  z-index: 3;
}
.logo-container,
.password-input,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-group {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 6px 0 7px;
  z-index: 2;
}
.logo-container,
.password-input {
  flex-direction: column;
}
.password-input {
  align-self: stretch;
  gap: 22px;
}
.logo-container {
  width: 407px;
  padding: 0 0 11px;
  box-sizing: border-box;
  gap: 19px;
  text-align: left;
}
.frame-input {
  margin: 0;
  height: 18px;
  width: 16px;
}
.remember-me {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 124px;
  z-index: 2;
}
.frame-group {
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.forgot-password {
  width: 164px;
  position: relative;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  z-index: 2;
}
.forgot-pass-link-inner,
.frame-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.forgot-pass-link-inner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 26px 28px;
  box-sizing: border-box;
}
.logo-instance-child {
  height: 22px;
  width: 153px;
  position: relative;
  border-radius: 10px;
  background-color: #35976a;
  display: none;
}
.login3 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 18px;
  display: flex;
  font-family: Inter;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.login-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  justify-content: flex-start;
  z-index: 3;
}
.login-frame,
.logo-instance,
.logo-instance-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.logo-instance {
  flex: 1;
  border-radius: 10px;
  background-color: #35976a;
  justify-content: flex-start;
  padding: 4px 0 3px 1px;
  z-index: 2;
}
.logo-instance-wrapper {
  width: 243px;
  justify-content: flex-end;
  padding: 0 45px;
  box-sizing: border-box;
}
.dont-have-an {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.dont-have-an-account-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  min-width: 137px;
}
.frame-parent1,
.sign-up {
  display: flex;
  justify-content: center;
}
.sign-up {
  width: 65px;
  position: relative;
  font-weight: 100;
  align-items: center;
  min-width: 65px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6px;
}
.frame-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
.frame-div {
  width: 368px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 43px;
}
.forgot-pass-link,
.frame-div,
.remember-me-checkbox {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.forgot-pass-link {
  width: 497px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7px 38px 189px;
  position: relative;
  gap: 30px;
}
.remember-me-checkbox {
  width: 679px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.footer-child {
  height: 447px;
  width: 1241px;
  position: relative;
  background-color: #295943;
  display: none;
  max-width: 100%;
}
.travelaja1 {
  position: relative;
  line-height: 40px;
}
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  z-index: 1;
}
.infotravelajacom,
.travelaja-g-4-amar {
  margin: 0;
}
.travelaja-g-4-amar-container {
  height: 124px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.logo-parent,
.travelaja-g-4-amar-complex-s-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.travelaja-g-4-amar-complex-s-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 10px;
  font-size: 16px;
}
.logo-parent {
  width: 217px;
  flex-direction: column;
  gap: 10px;
}
.ikuti-kami {
  position: relative;
  line-height: 35px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 101px;
  z-index: 1;
}
.follow-us-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
}
.vector-icon,
.vector-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.vector-icon2 {
  width: 24px;
  height: 18.5px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.7px;
}
.vector-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.vector-icon4 {
  height: 23.4px;
  width: 24px;
  position: relative;
}
.vector-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5px 10px;
  gap: 10px;
  z-index: 1;
}
.follow-us-links-parent,
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-us-links-parent {
  align-self: stretch;
  gap: 5px;
  font-size: 19.2px;
}
.frame-parent2 {
  width: 303.3px;
  padding: 0 31.4px 0 0;
  box-sizing: border-box;
  gap: 79px;
  font-size: 33.2px;
}
.links6 {
  position: relative;
  line-height: 35px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.serviceslinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px;
}
.link1 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link3 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link5 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.link-wrapper,
.link4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-wrapper {
  padding: 0 1px;
}
.link7 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}
.link-container,
.link6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-container {
  padding: 0 1px;
}
.link9 {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.footer1,
.link8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.footer1 {
  padding: 0 1px;
}
.link-parent {
  z-index: 1;
  font-size: 16px;
}
.footer-inner,
.link-parent,
.serviceslinks-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.serviceslinks-parent {
  gap: 15px;
}
.footer-inner {
  padding: 17px 0 0;
}
.services {
  position: relative;
  line-height: 35px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 84px;
  z-index: 1;
}
.services-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px;
}
.link11 {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.link10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link13 {
  position: relative;
  display: inline-block;
  min-width: 114px;
}
.link12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link15 {
  position: relative;
}
.link-frame,
.link14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-frame {
  padding: 0 0 0 1px;
}
.link17 {
  position: relative;
  display: inline-block;
  min-width: 109px;
}
.link-wrapper1,
.link16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-wrapper1 {
  padding: 0 1px;
}
.link19 {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.link-wrapper2,
.link18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-wrapper2 {
  padding: 0 1px;
}
.link-group {
  z-index: 1;
  font-size: 16px;
}
.footer-inner1,
.frame-parent3,
.link-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  gap: 15px;
}
.footer-inner1 {
  padding: 17px 25.5px 0 0;
}
.contact {
  position: relative;
  line-height: 35px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px;
}
.link21 {
  position: relative;
}
.link20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link23 {
  position: relative;
  display: inline-block;
  min-width: 129px;
}
.link22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link25 {
  position: relative;
}
.link-wrapper3,
.link24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-wrapper3 {
  padding: 0 1px;
}
.link27 {
  position: relative;
}
.link-wrapper4,
.link26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.link26 {
  flex: 1;
  padding: 5px 10px;
}
.link-wrapper4 {
  align-self: stretch;
  padding: 0 0 0 1px;
}
.link29 {
  position: relative;
}
.link-wrapper5,
.link28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 10px;
}
.link-wrapper5 {
  padding: 0 1px;
}
.group-div {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  font-size: 16px;
}
.footer,
.footer-inner2,
.frame-parent4,
.group-div {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.footer,
.footer-inner2 {
  box-sizing: border-box;
}
.footer-inner2 {
  width: 322px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 17px 0 0;
}
.footer {
  background-color: #295943;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 41px 20.2px 59px 67.2px;
  gap: 64.6px;
  text-align: left;
  font-size: 19.2px;
  color: #fff;
  font-family: Poppins;
}
.login {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 35px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 900px) {
  .menus-wrapper {
    display: none;
  }
  .travelaja1 {
    font-size: 27px;
    line-height: 32px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .forgot-pass-link {
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 123px;
    box-sizing: border-box;
  }
  .footer {
    gap: 32px;
    padding-left: 33px;
    box-sizing: border-box;
  }
  .login {
    gap: 17px;
  }
}
@media screen and (max-width: 450px) {
  .login2 {
    font-size: 16px;
    line-height: 20px;
  }
  .frame-div {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .travelaja1 {
    font-size: 20px;
    line-height: 24px;
  }
  .frame-parent2 {
    gap: 39px;
  }
  .footer {
    gap: 16px;
    padding-top: 27px;
    padding-bottom; 38px;
    box-sizing; border-box;
}
}